.button {
  padding: 12px 24px;
  cursor: pointer;
  border: none;
}

.button--block {
  width: 100%;
}

.button--sm {
  font-size: 90%;
}

.button--lg {
  font-size: 120%;
}

.button--primary {
  color: white;
  background-color: blue;
}
.button--primary:hover {
  background-color: darkblue;
}

.button--secondary {
  color: white;
  background-color: green;
}
.button-secondary:hover {
  background-color: darkgreen;
}
