.button {
  padding: 12px 24px;
  cursor: pointer;
  border: none;
  text-decoration: none;
}

.button--block {
  width: 100%;
}

.button--sm {
  font-size: 90%;
}

.button--lg {
  font-size: 120%;
}

.button--primary {
  color: white;
  background-color: #304FFE;
}
.button--primary:hover {
  background-color: #2962FF;
}

.button--secondary {
  color: black;
  background-color: #00C853;
}
.button--secondary:hover {
  background-color: #64DD17;
}
