#boards-wrapper {
  margin-bottom: 20rem;
}

.board {
  background-color: #311b92;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
}

.moves {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
  margin-bottom: 2rem;
  font-size: 130%;
  background-color: #303f9f;
  padding: 20px;
  border-radius: 20px;
}

.tiles {
  position: relative;
}

.valid-status {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  margin-bottom: 2rem;
  font-size: 130%;
  background-color: #303f9f;
  padding: 20px;
  border-radius: 20px;
}
